.add-bulk-profile-popup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.add-bulk-profile-popup-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
.popup-header-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.add-bulk-profile-popup-body {
    width: 100%;
    padding: 20px 20px 80px 20px;
    max-height: 700px;
}
.dropzone {
    width: 100%;
    height: 300px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #BBBBBB;
    position: relative;
    z-index: 1;
}
.dropzone input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.dropzone label {
    cursor: pointer;
    color: #3FA2F7;
    z-index: 3;
}  
.files-list {
    margin-top: 1.5rem;
}
.files-list .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
    display: flex;
    flex-grow: 1;
}
.files-list .single-file .delete {
    display: flex;
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
}
.files-list .single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}
.files-list .single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}
.files-list .single-file .info {
    width: 100%
}