<div class='container'>
    <div class=''>
        <button class='document-button' (click)='handleAllDocuments()'>View All Documents</button>
        <app-divider></app-divider>
        <label for='file'>
            <div class='file-upload-container'>
                <img src='../../../../assets/Icons/upload-file.svg' />
                <app-divider></app-divider>
                Click to Upload File
            </div>
        </label>
        <input id='file' type='file' style='display: none;' />
        <app-divider></app-divider>
        <form [formGroup]='formData' (ngSubmit)='onSubmit(formData.value)'>
            <app-input placeholder='Document Name' type='text' [required]='true' [control]="$any(formData.get('docName'))"></app-input>
            <app-divider></app-divider>
            <MySelectComponent [options]='docTypes' placeholder='Document Type' [control]="$any(formData.get('docType'))"></MySelectComponent>
            <!-- <app-input placeholder='Document Type' type='text' [required]='true' [control]="$any(formData.get('docType'))"></app-input> -->
            <app-divider></app-divider>
            <my-button text='Upload' [isDisabled]='formData.invalid' type='submit'></my-button>
        </form>
    </div>
    <app-divider></app-divider>
    <div class='hr'></div>
    <app-divider></app-divider>
    <app-divider></app-divider>
    <div class='documents-container'>
        <div class='document-item-container' (click)='openDialog()'>
            <div class='document-item-header'>
                <svg class='doc-icon edit-icon' viewBox="0 0 24 24">
                    <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                </svg>
                <svg class='doc-icon eye-icon' viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z" />
                </svg>
                <svg class='doc-icon delete-icon' viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
                </svg>
            </div>
            <img src='../../../../assets/Icons/pdf-icon.svg' />
            <app-divider></app-divider>
            <div class='doc-text'>Document8.pdf</div>
        </div>
    </div>
</div>