<mat-grid-list cols='24' rowHeight='1050px' gutterSize='20px'>
    <mat-grid-tile colspan='10'>
        <div class='tile-container left-tile-container'>
            <div style="width: 255px;">
                <b class='profile-role'>Admin</b>
                <app-divider></app-divider>
                <label for='file'>
                    <div class='file-upload-container'>
                        <img src='../../../../assets/Icons/upload-file.svg' />
                        <app-divider></app-divider>
                        Click to Upload File
                    </div>
                </label>
                <input id='file' type='file' style='display: none;' />
                <app-divider></app-divider>
                <div class='osha-text'>OSHA #:  ABCS0245</div>
                <app-divider></app-divider>
                <div class='osha-expiration'>OSHA Expiration:  ABCS0245</div>
                <app-divider></app-divider>
                <MySelectComponent [options]='ohsaType' placeholder='OSHA Type' [control]="$any(formData.get('oshaType'))"></MySelectComponent>
                <app-divider></app-divider>
                <div class='upload-buttons-container'>
                    <button class='profile-button' (click)='openAddSitePopup()'>Upload Photo ID</button>
                    <button class='profile-button' (click)='openAddBulkProfileDialog()'>Upload OSHA Card</button>
                </div>
                <app-divider></app-divider>
                <button class='profile-button orientation-button' (click)="openDialog()">
                    <div class='odbt-container'>
                        Orientation Documents
                        <svg style="width:16px;height:16px;margin-left:12px;" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='14'>
        <div class='tile-container right-tile-container'>
            <div class='add-profile-form-container'>
                <div class='view-profile-button-container'>
                    <button class='profile-button' (click)="goToListOfProfile()">View All Profiles</button>
                </div>
                <app-divider></app-divider>
                <form [formGroup]='formData' (ngSubmit)='onSubmit(formData.value)'>
                    <app-input placeholder='First Name' type='text' [required]='true' [control]="$any(formData.get('firstName'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Lirst Name' type='text' [required]='true' [control]="$any(formData.get('lastName'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Title' type='text' [required]='true' [control]="$any(formData.get('title'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Business Name' type='text' [required]='true' [control]="$any(formData.get('businessName'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Business Category' type='text' [required]='true' [control]="$any(formData.get('businessCategory'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Contractor ID' type='text' [required]='true' [control]="$any(formData.get('contractorId'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Address' type='text' [required]='true' [control]="$any(formData.get('address'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='City' type='text' [required]='true' [control]="$any(formData.get('city'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='State' type='text' [required]='true' [control]="$any(formData.get('state'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Country' type='text' [required]='true' [control]="$any(formData.get('country'))"></app-input>
                    <app-divider></app-divider>
                    <app-input placeholder='Phone Number' type='text' [required]='true' [control]="$any(formData.get('phoneNumber'))"></app-input>
                    <app-divider></app-divider>
                    <MySelectComponent [options]='profileType' placeholder='Profile Type' [control]="$any(formData.get('profileType'))"></MySelectComponent>
                    <app-divider></app-divider>
                    <my-button text='Save' [isDisabled]='formData.invalid' type='submit'></my-button>
                </form>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>