<mat-grid-list cols='24' rowHeight='484px' gutterSize='35px'>
    <mat-grid-tile colspan='14' rowspan='1'>
        <div class='tile-container'>
            <div class='tile-header'>Quick Links</div>
            <div class='tile-body'>
                <mat-grid-list cols='24' rowHeight='180px' gutterSize='6px'>
                    <mat-grid-tile colspan='12' rowspan='1'>
                        <div class='tile-container'>
                            <a routerLink='/dashboard/addProfile' class='quick-link-tile-body'>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4M15,5.9C16.16,5.9 17.1,6.84 17.1,8C17.1,9.16 16.16,10.1 15,10.1A2.1,2.1 0 0,1 12.9,8A2.1,2.1 0 0,1 15,5.9M4,7V10H1V12H4V15H6V12H9V10H6V7H4M15,13C12.33,13 7,14.33 7,17V20H23V17C23,14.33 17.67,13 15,13M15,14.9C17.97,14.9 21.1,16.36 21.1,17V18.1H8.9V17C8.9,16.36 12,14.9 15,14.9Z" />
                                </svg>
                                <div class='quick-link-tile-text'>Add Profile</div>
                            </a>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan='12' rowspan='1'>
                        <div class='tile-container'>
                            <a routerLink='/dashboard/invite' class='quick-link-tile-body'>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
                                </svg>
                                <div class='quick-link-tile-text'>Add Invite</div>
                            </a>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='10' rowspan='2'>
        <div class='tile-container'>
            <div class='tile-header'>History</div>
            <div class='tile-body'></div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='14' rowspan='1'>
        <div class='tile-container'>
            <div class='tile-header'>Reports</div>
            <div class='tile-body'></div>
        </div>
    </mat-grid-tile>
</mat-grid-list>