<AuthScreenContainer>
    <AuthScreenHeader
        header="Reset Password"
        description="Nulla porttitor accumsan tincidunt. 
        Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, "
        >
    </AuthScreenHeader>
   <formContainer>
    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
        <app-input placeholder="Password" type="password" [required]="true" [control]="$any(formData.get('password'))">
            <mat-icon>visibility</mat-icon>
        </app-input>
        <app-divider></app-divider>
        <app-input placeholder="Re-Password" type="password" [required]="true" [control]="$any(formData.get('confirmPassword'))">
            <mat-icon>visibility</mat-icon>
        </app-input>
        <app-divider></app-divider>
        <my-button text="Submit" [isDisabled]="formData.invalid" type="submit">
        </my-button>
    </form>
   </formContainer>
 </AuthScreenContainer>
