<AuthScreenContainer>
    <AuthScreenHeader header="Enter Details" description="Nulla porttitor accumsan tincidunt. 
             Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat,
             accumsan id imperdiet et, ">
    </AuthScreenHeader>
    <formContainer>
        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
            <app-input placeholder="First Name" type="text" [required]="true"
                [control]="$any(formData.get('firstName'))">
                <mat-icon>account_circle</mat-icon>
            </app-input>
            <app-input placeholder="Last Name" type="text" [required]="true" [control]="$any(formData.get('lastName'))">
                <mat-icon>account_circle</mat-icon>
            </app-input>
            <app-input placeholder="Email" type="email" [required]="true" [control]="$any(formData.get('email'))">
                <mat-icon> mail_outline</mat-icon>
            </app-input>
            <MySelectComponent [options]="profileType" placeholder="Profile Type"
                [control]="$any(formData.get('profileType'))">
            </MySelectComponent>
            <MySelectComponent [options]="ohsaType" placeholder="OSHA Type" [control]="$any(formData.get('oshaType'))">
            </MySelectComponent>
            <div class="spacer"></div>
            <my-button text="Invite" [isDisabled]="formData.invalid" type="submit">
            </my-button>
        </form>
    </formContainer>
</AuthScreenContainer>