<div>
    <!-- <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
        <my-input></my-input>
        <input type="text">
    </form> -->
    <div class="header">
        <h4>Sign Up</h4>
    </div>
    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
        <input type="text">
        <!-- <app-input
            placeholder="Enter your First Name"
            type="text"
            [required]="true"
            [control]="$any(formData.get(['firstName']))"
        >
        </app-input> -->
    </form>
    
</div>

<!-- signup works -->
