/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

.auth {
  background: url('./assets/images/authbg.png') no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}